body {
    background-color: #990000;
    text-align: center;
    
}




.dropdown, .title{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
    background-color: #ffdddd;
    margin-left: auto;
    margin-right: auto;
    font-family: superstar_m54;
}
.title {
    width: 350px;
}
.dropdown {
    width: 350px;
}




@font-face {
    font-family : superstar_m54;
    src : url('superstar_m54.ttf');
}